body{
    background-color: black;
    color: white;
    font-family: Montserrat;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}
.body{
    margin-top: 90px;
    padding-bottom: 30px;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
      background: rgb(255, 255, 255, .3);
      border-radius: 8px;
  }
  body::-webkit-scrollbar-thumb:hover {
      background: white;
      border-radius: 8px;
  }
  body::-webkit-scrollbar-track {
      background: transparent;
  }