header{
    height: 90px;
    position: fixed;
    top: 0;
    background-color:rgb(30, 30, 30, .8);
    width: 100%;
    z-index: 1;
    display: flex;
}
.nav{
    display: flex;
    position: absolute;
    margin-left: 50px;
    height: 100%;
    align-items: center;
}

.dropdownlinks{
    display: none;
    position: absolute;
    z-index: 5;
    background-color: rgb(30, 30, 30);
    left: -40%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1px;
}
.dropdown:hover {
    cursor: pointer;
}
.dropdownlinks a{
    padding-top: 8px;
    display: block;
    z-index: 5;
    font-family: Overpass;
}
.dropdownlinks a:hover{
    color: gray;
}
.dropdown span{
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 5px;
    background: white;
    border-radius: 2px;
    z-index: 1;
  }
.title{
    font-style: italic;
    font-family: Playfair Display;
    transition: font-size .1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.title:hover{
    font-size: 16.5px;
}
h1{
    font-weight: 50;
}
header button{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    font-family: Overpass;
}
@media only screen and (max-width: 600px) {
    .title{
        font-size: 10px;
        transform: translate(0, -50%);
    }
    .title:hover{
        font-size:10.5px;
    }
}
.search{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 90px;
    height: 90px;
    margin-right: 50px;
}
.circle{
    /* width: 20px;
    height: 20px; */
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 100%;
}
.line{
    position: absolute;
    width: 8px;
    transform: rotate(45deg);
    border: 1px solid white;
    /* bottom: 30px;
    right: 22px;     */
    bottom: 36px;
    right: 32px;  

}
#searchBar{
    position: absolute;
    left: -155%;
    background-color: transparent;
    border-bottom: 1px white solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    color: white;
    outline: none;
}
.searchButton:hover{
    cursor: pointer;
}